/* ヘッダー */
header {
  width: 100%;
  padding: 30px 4% 10px;
  background-color: #020024;
  position: fixed;
 top: 0;
 display: flex;
 align-items: center;
 opacity: 0.8;
}

.menu-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  z-index: 90;
  background-color: #3584bb;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background-color: #ffffff;
  position: absolute;
}
.menu-btn span:before {
  bottom: 8px;
}
.menu-btn span:after {
  top: 8px;
}

#menu-btn-check:checked ~ .menu-btn span {
  background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
  bottom: 0;
  transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
  top: 0;
  transform: rotate(-45deg);
}

#menu-btn-check {
  display: none;
}

.menu-content {
  width: 100px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 80;
  background-color: #3584bb;
}
.menu-content ul {
  padding: 70px 10px 0;
}
.menu-content ul li {
  border-bottom: solid 1px #ffffff;
  list-style: none;
}
.menu-content ul li a {
  display: block;
  width: 100%;
  font-size: 15px;
  box-sizing: border-box;
  color:#ffffff;
  text-decoration: none;
  padding: 9px 15px 20px 0;
  position: relative;
}
.menu-content ul li a::before {
  content: "";
  width: 7px;
  height: 7px;
  border-top: solid 2px #ffffff;
  border-right: solid 2px #ffffff;
  transform: rotate(45deg);
  position: absolute;
  right: 11px;
  top: 16px;
}

.menu-content {
  width: 100%;
  height: 50%;
  position: fixed;
  top: 0;
  left: 100%;/*leftの値を変更してメニューを画面外へ*/
  z-index: 80;
  background-color: #3584bb;
  transition: all 0.5s;/*アニメーション設定*/
}

#menu-btn-check:checked ~ .menu-content {
  left: 0;/*メニューを画面内へ*/
}
/* ヘッダーend */

body {
  margin:0;
  background-color: #000000;;
}

h1 {
  text-align:center;
    font-size: 60px;
    font-family: 'Roboto',arial,sans-serif;
    background: -webkit-linear-gradient(#5199EA,#5696E8,#777EE0,#C447CB,#BD4CCD);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a {	
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
  margin: 0;
  display: flex;
}

li {
  margin: 0 0 0 15px;
  font-size: 25px;
}

nav {
  margin: 0 0 0 auto;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

p.main {
    text-align:center;
    font-size: 120px;
    margin: 180px;
    font-family: 'Roboto',arial,sans-serif;
   
  background: -webkit-linear-gradient(#5199EA,#5696E8,#777EE0,#C447CB,#BD4CCD);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    
}

p.tmp{
    text-align:center;
    font-size: 40px;
    font-family: monospace;
    font-style: italic;
  background-color: #000000;
  color: #ffffff;
}

p.Favorite{
  font-size: 25px;
}

p.timeup{
  background-color: #fa0909;
  font-size: 30px;
}

img.zrs1{
    width: 500px;
    height: 880px;
  }

ul.zrs1{
  display: flex;
  justify-content: center;
}
a.z1 {
  color: #fff;
  text-decoration: none;
  background: linear-gradient(to right, #d6ea51,#b0e856,#77e0d2,#7347cb,#cd4c4c);
  display: block;
  padding: 15px 25px;
  border-radius: 500px;
  box-shadow: 0 4px 0 0 #6765f0;
  font-weight: bold;
  width: 300px;
  text-align: center;
  margin: 110px auto 100px;
  letter-spacing: 2px;
}

a.twitter-timeline {
  text-align:center;
}

.tstyle{
  font-size: 30px;
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #000000;
  color: #ffffff;
}

input {
  font-size: 50px;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #ff0000;
  border-radius: 0.5rem;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
}



table{
  border-collapse: collapse;
  width: 100%;
}
.tb01 th,
.tb01 td{
  padding: 10px;
  border: solid 1px #ccc;
  text-align:center;
  box-sizing:border-box;
  color: #ffffff;
}
.tb01 th {
  background: #ffffff;
  color: #000000;
  
}
@media screen and (max-width: 640px) {
  .tb01 {
    width: 100%;
  }
  table.tb01 th,
  table.tb01 td {
    display: block;
    width: 100%;
    border-bottom:none;
  }
  .tb01 tr:last-child{
    border-bottom: solid 1px #ccc;
  }
}
