body {
  margin:0;
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #63cadc 50%, #ffffff 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;

  
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

p.main {
    text-align:center;
    font-size: 120px;

    font-family: 'Roboto',arial,sans-serif;
   
  background: -webkit-linear-gradient(#5199EA,#5696E8,#777EE0,#C447CB,#BD4CCD);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    
}

p.tmp{
    text-align:center;
    font-size: 35px;
    font-family: monospace;
    font-style: italic;
    background: linear-gradient(transparent 0%,#5ce8d5);
}

p.Favorite{
  font-size: 25px;
}

p.timeup{
  background-color: #fa0909;
  font-size: 30px;
}

img.zrs1{
    width: 500px;
    height: 880px;
    
    
    @media screen and (max-width: 500px) {
      
      width: 100% ;      
      }
  }

ul.zrs1{
  display: flex;
  justify-content: center;
}
a.z1 {
  color: #fff;
  text-decoration: none;
  background: linear-gradient(to right, #d6ea51,#b0e856,#77e0d2,#7347cb,#cd4c4c);
  display: block;
  padding: 15px 25px;
  border-radius: 500px;
  box-shadow: 0 4px 0 0 #6765f0;
  font-weight: bold;
  width: 300px;
  text-align: center;
  margin: 110px auto 100px;
  letter-spacing: 2px;
}

a.twitter-timeline {
  text-align:center;
}

.tstyle{
  font-size: 30px;
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #6DBDE6;
  color: #ffffff;
}

input {
  font-size: 50px;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  
  cursor: pointer;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #ff0000;
  border-radius: 0.5rem;

  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
}

.mc{
  font-size: 30px;
  color: #00a2ff;
}

.mcr{
  font-size: 30px;
  color: #ff0000;
}

.mcc{
  font-size: 40px;
}

/* 目次デザイン→→→ */
#tocopen:checked+.toc_container {
  display: block;
  padding: 45px;
  border: 4px solid tan;
}

/*****
チェックボックスと開閉する目次ボックスは非表示
****/

.toc_container,.l_toc input[type="checkbox"]{
  display: none;
}

.l_toc {
  width: 95%;
  max-width: 500px;
  margin: 0px;
  position: relative;
  top: 38px;
  left: 0;
}

.l_toc label {
  background-color: #e66db8;
  padding: 10px;
  position: absolute;
  top: -40px;
  left: 0;
}

.toc_container {
  background-color: #fff;
  width: 100%;
}
.toc_container ol>li {
  margin: 10px 0px;
}
/* 目次デザインここまで */
